<h1><center>WELCOME TO SJCE EVENTS</center></h1>
<p>Sri Jayachamarajendra College Of Engineering, conceived in 1963, is the dream child of Jagadguru Dr. Sri Shivarathri Rajendra Mahaswamigalavaru, the 23rd pontiff of Sri Suttur Mutt. It comes under the aegis of JSS Mahavidyapeetha, which is the primary institution of many such institutions. The college was officially inauguarated by the esteemed founder of Manipal Institutes, Dr. T.M.A.Pai, the then chairman of the academy of education, Manipal, Mysore State. </p>
<%= link_to 'LCC EVENTS', lccs_path  %><br>
<%= link_to 'CSI EVENTS', csis_path %>
